body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: darkblue;
    color: yellowgreen;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
